.controller {
  position: relative;
  height: 3.8rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  input {
    width: 85%;
    height: 3.8rem;
    padding-left: 3rem;
    border-radius: 0.5rem;
    border: 1px solid var(--gray);
    transition: all 0.35s;

    &::placeholder {
      opacity: 0;
    }

    &:focus {
      border: 1px solid var(--blue);
      box-shadow: 0 0.2rem 1rem rgba(#1f51ff, 0.4);
    }
  }

  input.search:focus {
    border: 1px solid var(--orangeDark);
    box-shadow: 0 0.2rem 1rem rgba(#ff512f, 0.4);
  }

  label {
    position: absolute;
    top: 0%;
    left: 3rem;
    transform: translateY(-50%);
    transition: all 0.35s;
    font-size: 1.4rem;
    background-color: var(--white);
  }

  input:placeholder-shown + label {
    top: 50%;
    left: 4.5rem;
    transform: translateY(-50%);
    font-size: 1.8rem;
  }

  label.search {
    left: 9rem;
  }

  input:placeholder-shown + label.search {
    top: 50%;
    left: 10.5rem;
    transform: translateY(-50%);
    font-size: 1.8rem;
  }
}
