@import "../../scss/mixin";

.form {
  position: relative;
  padding-right: 2rem;

  @include media("small") {
    padding: 0;
  }
}

.center {
  @include flexbox(center, center, column);

  padding: 0;
}
