@import "../../Scss/mixin";
@import "../../Scss/variables";

.header {
  @include flexbox(center);

  width: 100%;
  min-height: 85vh;
  background-image: linear-gradient(
      to bottom,
      rgba($dark, 0.7),
      rgba($dark, 0.7)
    ),
    url("../../assests/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include media("medium") {
    flex-direction: column;
  }
  @include media("small") {
    flex-direction: column;
  }

  button {
    padding: 2rem 5rem;
    font-size: 1.8rem;
  }
}

.title {
  width: 50%;
  padding: 2rem;
  padding-right: 4rem;
  color: $white;
  text-transform: capitalize;
  margin-bottom: 8rem;

  @include media("medium") {
    width: 100%;
    text-align: center;
    padding: 3rem;
  }
  @include media("small") {
    width: 100%;
    text-align: center;
    padding: 3rem;
  }

  h1 {
    font-family: $MochiyPopFonts;
    margin-bottom: 5rem;
    font-size: 6rem;
    letter-spacing: 0.5rem;
    background-image: linear-gradient(0deg, $goldColor, $redLightColor);
    background-clip: text;
    color: transparent;

    @include media("medium") {
      font-size: 5rem;
    }
    @include media("small") {
      font-size: 4rem;
    }

    span {
      letter-spacing: 1.6rem;
      font-style: italic;
      border-bottom: 1px solid $gray;

      @include media("medium") {
        letter-spacing: 0.6rem;
      }
      @include media("small") {
        letter-spacing: 0.6rem;
      }
    }
  }

  p {
    color: $goldLighterColor;
  }
}

.actions {
  display: flex;

  @include media("small") {
    flex-direction: column;
  }
}
