@import "../../Scss/mixin.scss";

.header {
  width: 100%;
  min-height: 85vh;
  background-image: linear-gradient(to bottom, rgba(#000, 0.7), rgba(#000, 0.7)),
    url("../../assests/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  @include media("medium") {
    flex-direction: column;
  }
  @include media("small") {
    flex-direction: column;
  }

  button {
    padding: 2rem 5rem;
    font-size: 1.8rem;
  }
}

.title {
  width: 50%;
  padding: 2rem;
  padding-right: 4rem;
  color: var(--white);
  text-transform: capitalize;
  margin-bottom: 8rem;

  @include media("medium") {
    width: 100%;
    text-align: center;
    padding: 3rem;
  }
  @include media("small") {
    width: 100%;
    text-align: center;
    padding: 3rem;
  }

  h1 {
    font-family: var(--MochiyPopFonts);
    margin-bottom: 5rem;
    font-size: 6rem;
    letter-spacing: 0.5rem;
    background-image: linear-gradient(
      0deg,
      var(--goldColor),
      var(--redLightColor)
    );
    background-clip: text;
    color: transparent;

    @include media("medium") {
      font-size: 5rem;
    }
    @include media("small") {
      font-size: 4rem;
    }

    span {
      letter-spacing: 1.6rem;
      font-style: italic;
      border-bottom: 1px solid #cccc;

      @include media("medium") {
        letter-spacing: 0.6rem;
      }
      @include media("small") {
        letter-spacing: 0.6rem;
      }
    }
  }

  p {
    color: var(--goldLighterColor);
  }
}

.actions {
  display: flex;

  @include media("small") {
    flex-direction: column;
  }
}
