@import "../../scss/mixin";
@import "../../scss/variables";

.btnCard {
  @include flexbox(center);

  width: 100%;
  margin: 0 auto;
  margin-top: 1rem;

  @include media("small") {
    flex-direction: column;
  }
}

.container {
  max-width: 120rem;
  margin: auto;
  position: relative;
  padding: 2rem;
  padding-top: 5rem;
  background-color: rgba($white, 0.1);
  border-radius: 1rem;
  border: 1px solid $orange;

  @include media("medium") {
    width: 95%;
    padding-top: 5rem;
  }
  @include media("small") {
    width: 95%;
    padding: 1rem;
    padding-top: 5rem;
  }
}

.full {
  width: 100%;
  padding: 3rem 0;
  position: relative;
  margin: auto;

  @include media("medium") {
    padding-bottom: 0;
    width: 95%;
  }
  @include media("small") {
    padding-bottom: 0;
    width: 95%;
  }
}
