.pay {
  background-color: rgba(#fff, 0.1);
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  padding: 10rem 2rem;
}

.cartTitlte {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  height: 8rem;
  top: 0;
  left: 0;
  right: 0;
  color: var(--dark);
  background-image: linear-gradient(
    45deg,
    var(--orangeDark) 0%,
    var(--orange) 51%,
    var(--orangeDark) 100%
  );
  background-size: 200% auto;
  font-family: var(--SairaCondensedFonts);
  font-size: 3rem;

  span {
    font-size: 5rem;
  }
}

.cartFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8rem;
}
