@import "../../Scss/variables";
@import "../../Scss/mixin";

.info {
  @include flexbox(center, stretch, column);
}

.img {
  padding: 1rem;

  @include media("medium") {
    padding: 0;
  }
  @include media("small") {
    padding: 0;
  }

  img {
    width: 100%;
    height: min-content;
    object-fit: contain;
    border-radius: 1rem;
  }
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-transform: capitalize;
  padding: 1rem;
  color: $white;

  @include media("medium") {
    width: 100%;
  }

  @include media("small") {
    width: 100%;
  }

  &-info {
    color: $gray;
    margin-left: 1rem;
  }
}

.btn {
  align-self: flex-end;

  @include media("medium") {
    align-self: center;
  }
  @include media("small") {
    align-self: center;
  }
}
