@import "../../Scss/mixin";
@import "../../Scss/variables";

.food {
  display: flex;
  width: 100%;
  padding: 1rem;
  border-radius: 0.8rem;
  background-color: $darkLighter;
  color: $white;
  border: 1px solid $orange;
  box-shadow: rgba($orangeDark, 0.12) 0px 4px 6px 0px,
    rgba($orangeDark, 0.32) 0px 6px 20px 0px;
  transition: all 0.35s;

  @include media("small") {
    flex-direction: column;
  }

  &:not(:last-child) {
    margin-bottom: 3.5rem;
  }
}

.img {
  padding: 1rem;
  img {
    width: 25rem;
    height: 100%;
    margin-right: 3rem;
    border-radius: 0.5rem;
    object-fit: cover;

    @include media("medium") {
      margin: 0;
    }
    @include media("small") {
      width: 100%;
      margin: 0;
    }
  }
}

.info {
  padding: 1rem;
  padding-left: 2rem;
}

.header {
  @include flexbox(space-between);

  @include media("medium") {
    margin: 1rem 0;
  }
  @include media("small") {
    margin: 1rem 0;
  }

  h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 15rem;
  }

  .like {
    width: 5rem;
    height: 5rem;
    background-color: $white;
    position: relative;
    border-radius: 50%;
    transition: all 0.35s;

    @include media("small") {
      width: 4rem;
      height: 4rem;
    }

    &:hover {
      transform: scale(1.15);
    }
  }

  img {
    width: 3rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include media("small") {
      width: 3rem;
    }
  }

  .amount {
    display: flex;
    align-items: center;

    span {
      margin: 0 1rem;
      font-family: $SairaCondensedFonts;

      @include media("medium") {
        margin: 0;
      }
      @include media("small") {
        margin: 0;
      }
    }
  }
}

.description {
  padding-right: 5rem;

  @include media("medium") {
    padding: 1rem;
  }
  @include media("small") {
    padding: 1rem;
  }

  p {
    color: $gray;
  }
}

.price {
  font-family: $SairaCondensedFonts;
  font-size: 2.5rem;
  margin-right: auto;

  @include media("small") {
    margin: auto;
  }
}
