@import "../../Scss/mixin ";
@import "../../Scss/variables ";

.auth {
  @include flexbox(space-between);

  min-height: 85vh;

  @include media("small") {
    flex-direction: column;
    margin-top: 2rem;
  }
}

.form {
  width: 30%;
  padding: 2rem;
  margin: 0 auto;
  border: 1px solid $orange;
  border-radius: 0.6rem;
  background-color: $darkLighter;
  box-shadow: rgba($orangeDark, 0.35) 0px 5px 15px;

  @include media("medium") {
    width: 50%;
    margin: 2rem auto;
  }
  @include media("small") {
    margin: 2rem auto;
    width: 90%;
  }
}

.img {
  width: 50%;

  @include media("small") {
    width: 100%;
    order: -1;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}
