// IMPORTS
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Raleway:wght@200;400;700&family=Saira+Condensed:wght@300;400;600&family=Shadows+Into+Light&display=swap");

@import "./Scss/animation";
@import "./Scss/mixin";
@import "./Scss/variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include media("xxlarge") {
    font-size: 70%;
  }
  @include media("large") {
    font-size: 62.5%;
  }
  @include media("medium") {
    font-size: 54.5%;
  }
  @include media("small") {
    font-size: 50%;
  }
}

body {
  font-size: 1.8rem;
  line-height: 1.6;
  font-family: $RalewayFonts;
  background-color: $darkLighter;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  font: inherit;

  &:focus {
    outline: none;
  }
}

button {
  cursor: pointer;
  font: inherit;

  &:focus {
    outline: none;
  }
}

.title {
  text-align: center;
  padding: 2rem 0;
  font-family: $RalewayFonts;
  background-image: linear-gradient(30deg, $goldColor, $redLightColor);
  background-clip: text;
  color: transparent;
}

.center {
  margin: auto;
}

::selection {
  background-color: $orangeDark;
  color: $white;
}
