// IMPORTS
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Raleway:wght@200;400;700&family=Saira+Condensed:wght@300;400;600&family=Shadows+Into+Light&display=swap");

:root {
  // FONTS
  --RalewayFonts: "Raleway", sans-serif;
  --MochiyPopFonts: "Mochiy Pop P One", sans-serif;
  --SairaCondensedFonts: "Saira Condensed", sans-serif;
  --ShadowsLightFonts: "Shadows Into Light", cursive;

  // COLOSR

  // purple
  --purpleLightestColor: #e7ceff;
  --purpleLightColor: #d9b0ff;
  --purpleColor: #bf7bffc7;
  --purpleDarkColor: #643d88;

  // gold
  --goldLighterColor: #f7e98e;
  --goldLightColor: #ffdb58;
  --goldColor: #ffcc00;

  // red
  --redLightColor: #af4261;

  // blue
  --blue: #1f51ff;

  // orange
  --orange: #f09819;
  --orangeDark: #ff512f;

  // light
  --white: #fff;
  --gray: #ccc;

  // dark
  --dark: #000;
  --darkLighter: #212121;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 1.6;
  font-family: var(--RalewayFonts);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  font: inherit;

  &:focus {
    outline: none;
  }
}

button {
  cursor: pointer;
  font: inherit;

  &:focus {
    outline: none;
  }
}
