@mixin media($breakPoint) {
  @if ($breakPoint == "small") {
    @media only screen and (max-width: 40em) {
      /* max-width 640px, mobile-only styles, use when QAing mobile issues */
      @content;
    }
  }
  @if ($breakPoint == "medium") {
    @media only screen and (min-width: 40.063em) and (max-width: 64em) {
      /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
      @content;
    }
  }
  @if ($breakPoint == "large") {
    @media only screen and (min-width: 64.063em) and (max-width: 90em) {
      /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */
      @content;
    }
  }
  @if ($breakPoint == "xlarge") {
    @media only screen and (min-width: 90.063em) and (max-width: 120em) {
      /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
      @content;
    }
  }
  @if ($breakPoint == "xxlarge") {
    @media only screen and (min-width: 120.063em) {
      /* min-width 1921px, xlarge screens */
      @content;
    }
  }
}

@mixin flexbox($just, $align: center, $dir: row) {
  display: flex;
  justify-content: $just;
  align-items: $align;
  flex-direction: $dir;
}
