// IMPORTS
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Raleway:wght@200;400;700&family=Saira+Condensed:wght@300;400;600&family=Shadows+Into+Light&display=swap");

// FONTS
$RalewayFonts: "Raleway", sans-serif;
$MochiyPopFonts: "Mochiy Pop P One", sans-serif;
$SairaCondensedFonts: "Saira Condensed", sans-serif;
$ShadowsLightFonts: "Shadows Into Light", cursive;

// COLOSR
